.navbar {
    padding: 24px;
    display: flex;
    justify-content: center;
}

.nav-content {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.badge {
    background-color: var(--surface-variant);
    color: var(--text-sub);
    padding: 6px 16px;
    border-radius: var(--radius-btn);
    font-size: 0.85rem;
    font-weight: 600;
}